<h1>Bio#index</h1>
<table>
	<tr>

		<td align="center" valign="middle" width="65"><u>HOME</u></td>
		<td align="center" valign="middle" width="65"><u>WELCOME</u></td>
		<td align="center" valign="middle" width="65"><u>CONTACT</u></td>
	</tr>
</table>

<head>
	<style>
		<body>
td
{border-width:1px; border-style:solid;}
td
{font:15px arial,sans-serif;color: #FFFFFF;}


		</head>
	</style>
</body>

<h1><center>SIKAWURA</center></h1>
<H2><center>Luxury Ankara Streetwear<center></H2>

<p><center>SIKAWURA</center></p>

<h3><center>This is the official website for Sikawura Luxury Ankara Streetwear</center><h3>
<h3><center>Our website is currently undergoing construction, please come back later for more informatiion ...... </center><h3>

	
	<p><center>For more informaion please email:
<a href="info@sikawura1988.com" target="_top">
info</a>
</center></p>

<html>
<body 

background="http://24.media.tumblr.com/fb0fde0ae45fdc85b0f957955649df48/tumblr_mu7s7iR5r41r6r2kqo1_500.jpg">



</body>
</html>

